{% extends 'base.html' %}
{% block body %}
    <h2 class="text-center">DETAIL</h2>
    <hr>
    <p>제목: {{ article.title }}</p>
    <p>내용: {{ article.content }}</p>
    <p>생성시각: {{ article.created_at }}</p>
    <p>수정시각: {{ article.updated_at }}</p>
    <hr>
    <form action="{% url 'articles:create_comment' article.pk %}" method="POST">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <input type="submit" value="댓글 작성" class="btn btn-success">
    </form>
    <hr>
    {% for comment in comments %}
        <p>댓글: {{ comment.content }}</p>
        <p>댓글작성자: {{ comment.user }}</p>
        {% if comment.user == request.user %}
            <form action="{% url 'articles:delete_comment' article.pk comment.pk %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="댓글 삭제" class="btn btn-danger">
            </form>
        {% endif %}
        <hr>
    {% endfor %}

    <a href="{% url 'articles:index' %}" class="btn btn-dark">메인 페이지</a>
    {% if article.user == request.user %}
        <form action="{% url 'articles:delete' article.pk %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="글 삭제" class="btn btn-danger">
        </form>
        <a href="{% url 'articles:update' article.pk %}" class="btn btn-success">글 수정</a>
    {% endif %}
{% endblock %}